header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 14vh;
}

.logoEnsejo{
    width: 38px;
    filter: invert(24%) sepia(87%) saturate(4976%) hue-rotate(203deg) brightness(95%) contrast(102%);
}
